*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

:root {--orange: rgb(232, 98, 22);
--red: rgb(255, 0, 0);
--green: rgb(0, 128, 0);
--dark: #000000;
--dark_footer: #1a1a1a;}

#site_header{background-color: var(--orange);
box-shadow: 0 0 10px;}

.site_header_container{width: 70%;
margin: auto;}

.site_header_row{display: flex;
justify-content: space-between;}

.menu_link, .logo, .sticker{margin-top: 1rem;
margin-bottom: 1rem;}

.menu_link{font-family: Arial, Helvetica, sans-serif;
display: flex;
list-style-type: none;}

.sticker{font-family: Arial, Helvetica, sans-serif;
display: flex;
list-style-type: none;}

.distance{padding: 0 0.5rem;}

.a_menu{color: white;
text-decoration: none;
list-style-type: none;}

/*Header*/

main{width: 70%;
margin: auto;
margin-top: 2rem;
margin-bottom: 2rem;}

.first_row, .second_row{display: flex;
margin-bottom: 6rem;}

.col-4{width: calc((100%/12)*4);
height: 400px;}

.item1, .item2, .item3, .item4, .item5, .item6{margin: 0 0.5rem;
box-shadow: 0 0 10px;
border-radius: 1rem;
background-size: cover;
height: 400px;}

.heart{position: relative;
left: 393px;
top: 18px;
background-color: white;
font-size: x-large;}

.heart:hover{color: var(--red);}

.cards{display: flex;
gap: 4px;}

.redcard{background-color: var(--red);
color: white;
display: inline-block;
position: relative;
top: 345px;}

.greencard{background-color: var(--green);
color: white;
display: inline-block;
position: relative;
top: 345px;}

.details{margin-left: 0.5rem;
margin-top: 0.5rem;}

.discount_price{color: var(--red);}

.price{display: flex;
gap: 4px;}

.entire_price{text-decoration: line-through;}

.item1{background-image: url(./img/1.webp);}

.item1:hover{background-image: url(./img/1b.webp);}  /*serve per quando si passa con il mouse sopra cambia immagine*/

.item2{background-image: url(./img/2.webp);}

.item2:hover{background-image: url(./img/2b.webp);} /*serve per quando si passa con il mouse sopra cambia immagine*/

.item3{background-image: url(./img/3.webp);}

.item3:hover{background-image: url(./img/3b.webp);} /*serve per quando si passa con il mouse sopra cambia immagine*/

.item4{background-image: url(./img/4.webp);}

.item4:hover{background-image: url(./img/4b.webp);} /*serve per quando si passa con il mouse sopra cambia immagine*/

.item5{background-image: url(./img/5.webp);}

.item5:hover{background-image: url(./img/5b.webp);} /*serve per quando si passa con il mouse sopra cambia immagine*/

.item6{background-image: url(./img/6.webp);}

.item6:hover{background-image: url(./img/6b.webp);} /*serve per quando si passa con il mouse sopra cambia immagine*/

/*main*/

#site_footer{background-color: #000000;}

.site_footer_row{display: flex;
color: white;
width: 70%;
margin: auto;
justify-content: space-between;}

.boolando{padding-top: 1rem;}

.list{display: flex;
list-style-type: none;
gap: 4px;
margin-top: 0.5rem;
font-size: 12px;}

.legal_list{text-decoration: none;
color: white;}

.social{padding-top: 1rem;}

.social_logo{display: flex;
list-style: none;
font-size: 12px;
margin-top: 0.5rem;
gap: 4px;}

.social_logo li{position: relative;
bottom: 0.5rem;}

/*footer*/